# Usability Testing Report

## Introduction


What did you do?

We asked individuals not part of the construction of the website and outside of the university course to spend time testing our website, this includes its features, how easy the content is to digest and the overall usability of the website.

Why did you do it?

We ensured to test our website so that the team can see how the website acts and responds to a user who hasn't contributed to the building of the website. The website must be tested to make sure that the user experience is positive, meaning that the information we convey is taken in correctly by the reader so they won't be discouraged by a webpage that potentially may be clunky.

How did you do it?

We proceeded to test by requesitng the individuals to try out our website on their personal devices and following that, we conducted interviews where we looked to understand the positives from a user perspective, any issues they encountered, what could be done to improve the website and any other comments they had about the website. All of our findings from our interviews were recorded as transcripts. 

### Findings

What did you find?

As suggested in the previous section, we started by hold 1:1 testing sessions with friends or family members, following this we conducted a brief interview session discussing the usability of our website. Listed below are positive and negative themes which reoccured across the 4 interviews, highlighting their prominance and significance in our design.

Positives:
- Fun bright colours
- Content and images were well paired
- Good use of different page formats

Negatvies:
- Some links didn't work
- Text was small and difficult to read
- Colour contrast was poor on certain pages

Shortly after the interview all four interviewees were asked to take a survey based on the dicussion topics selected during interviews. On a positive start to our survey, 100% of user found the website easy to navigate and didn't faces issues navigating between pages or different sections of the site. Although this is positive feedback, one thing we might consider is if this suggests a lack of complexity in our design, and whether more elements should therefore be added. Only 1 person disagreed that the content and images used on the website relevant, as the other 3 found them to be suitsble, therefore minimal change required here. However, we next asked 'Did you encounter any issues with the website?' to which half of the users commented on the size of the content and imagery, something we will now review and amend. This issue is especially important as it could hinder the usability and accessability of the report, especially for those with poor vision to read text, or those that rely on imagery but are unable to do so. The final two sections were grately appreciated by the team, scoring on average 4.5/5 on overall usability, and 100% of user recommending our website to a friend.

## Actions

Detail the changes your group has decided on in response to the initial testing and any subsequent test sessions.

Create an updated version of the page design and add this to the report.

The initial testing showed us that one of the main reasons our website was lacking was due to the smaller elements of a website, which could be phrased as smaller elements which enhance the fluidity of the website, things that a more experienced set of website designers may know from the beginning due to time and experience, however, as our team has taken on website design for one of the first times, we attempted to learn as much as we could in the timeframe we were given to construct our website. 

To action the outcomes of our testing, our plan is to ensure we take a double-check through our code before submission, we will check for smaller yet impactful features such as correct colours, fonts, plus text and image sizing is relevant for the area of the website it is situated. Actions we have taken from our testing sessions indicate that quality checking is vitally important. From the feedback, we will be checking the characteristics of the more visual elements of our website, ensuring that images are big enough so that they're accessible for all users. Before going live again, we will ask out team to check the links we have included, checking links means to simply 'click' the link and ensure you are taken to a working website or page. The simple action will make a big difference to the user experience.

<img src="sp4-media/FinalMockupV2.jpg" alt="Team members" width="1000">

## Results of further testing

We further tested our site on an individual external to our groups and organisations. The user was sent the link and opened our site on their browser. We found this further testing helpful as we were able to esablish to site could work for all users and get further opinions or feedback on the site.

<img src="sp4-media/User testing IMG.jpg" alt="Further Testing Example" width="1000">

The user tested and opened the site successfully. The feedback provided was that the site was engaging and easy to use and no errors were found. 

<!-- ## Notes

> Download -[Mini User Journey](sp4-media/mini-user-journey.pdf) forms.

Scan your completed notes as a single pdf, add to the sp4-media folder and link above. -->

## Exit survey

> Download -[Completed exit survey](https://github.com/mmu-webdesign/awdd2-2022-group5/tree/master/4_usability_testing/sp4-media).

Scan your completed survey as a single pdf, add to the sp4-media folder and link above.

## Consent form(s)

> Download -[Completed consent form(s)](https://github.com/mmu-webdesign/awdd2-2022-group5/tree/master/4_usability_testing/sp4-media).

Scan your completed consent form(s) as a single pdf, add to the sp4-media folder and link above.

---
